/* Global CSS */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  /* btn color */
  --bg-shade: #f5fcff;
  --github: #e62872;
  --black: #000000;
  --white: #ffffff;
  --darkblue: #1c1e53;
  --font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

/* Main Heading 1 */

/* heading 1  */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
}

/* heading 2  */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

/* heading 3 */
h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}

/* Paragrahs text large medium small  */
.text-lg,
.text-md,
.text-sm {
  font-style: normal;
  font-weight: 400;
}

.text-md,
.test-sm {
  font-size: 14px;
}

/* Body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  line-height: 27px;
}
/* Body 2 */
.text-md {
  color: var(--darkblue);
  line-height: 24px;
}
/* Body 3  */
.test-sm {
  color: var(--black);
  line-height: 21px;
}

/* Section Titles  */
/* Skills & Aboue me  */
.section--title,
.sub--title {
  color: var(--heading-color);
  font-weight: 600;
}
/* shared title */
.section--title {
  font-size: 21px;
  font-style: normal;
  line-height: 32px;
  display: flex;
  text-align: center;
  align-items: flex-start;
}

.sub--title {
  font-size: 16px;
  line-height: 24px;
}
